body {
  margin: 0;
  font-family: 'Source Sans Pro';
  background-image: linear-gradient(
      to right,
      rgba(30, 90, 105, 0.69) 3%,
      rgba(255, 199, 39, 0.67) 42%,
      rgba(255, 255, 255, 0.7) 91%
    ),
    url('./assets/img/hero-banner-background-1.jpg');
  background-size: cover;
}
